version: '3.8'

services:
  clarify-db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${CLARIFY_DB_NAME}
      POSTGRES_USER: ${CLARIFY_DB_USER}
      POSTGRES_PASSWORD: ${CLARIFY_DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    command: postgres -c ssl=off
    networks:
      - clarify-network

  clarify-app:
    build:
      context: ./app
    env_file:
      - .env
    environment:
      - CLARIFY_DB_USER=${CLARIFY_DB_USER}
      - CLARIFY_DB_HOST=${CLARIFY_DB_HOST}
      - CLARIFY_DB_NAME=${CLARIFY_DB_NAME}
      - CLARIFY_DB_PASSWORD=${CLARIFY_DB_PASSWORD}
      - CLARIFY_DB_PORT=${CLARIFY_DB_PORT}
      - CLARIFY_ENCRYPTION_KEY=${CLARIFY_ENCRYPTION_KEY}
    ports:
      - "3000:3000"
    depends_on:
      - clarify-db
    networks:
      - clarify-network
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
    shm_size: '2gb'
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

volumes:
  db-data:

networks:
  clarify-network:
    driver: bridge
